/* Left Nav */
.leftNav-body{
    background-color: #222;
    min-height: 625px;
}

.leftNav-body h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
}

/* Tweaks */

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}