#UpperNav{
    background-color: #444;
    min-height: 768px;
}

#UpperNav h1{
    text-align: center;
    color: #fff;
}

#UpperNav .space-footer{
    height: 50px;
}

.mb-10{
    margin-bottom: 10px;
}

.home_sobre{
    text-align: center;
    min-height: 768px;
}

.home_sobre p {
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
}

.bg-grey{
    background-color: #d9d9d9;
}

#novoContato h1{
    text-align: center;
    color: #444;
}